[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=BackBlaze
Type=Application
Comment=
Exec=/start.sh
RunHook=0
StartupNotify=false
Terminal=true
Hidden=false
